<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Cambiar contraseña</title>
</head>
<body>
  <h1>Marina Las Tacas</h1>
  <h2>Cambiar contraseña</h2>

  {% if messages %}
    <ul>
      {% for m in messages %}<li>{{ m }}</li>{% endfor %}
    </ul>
  {% endif %}

  {% if form.non_field_errors %}
    <ul>
      {% for e in form.non_field_errors %}<li>{{ e }}</li>{% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    <p>
      <label for="{{ form.old_password.id_for_label }}">Contraseña antigua:</label><br>
      {{ form.old_password }}
      {% if form.old_password.errors %}
        <br><small style="color:crimson">
          {% for e in form.old_password.errors %}{{ e }}{% if not forloop.last %}<br>{% endif %}{% endfor %}
        </small>
      {% endif %}
    </p>

    <p>
      <label for="{{ form.new_password1.id_for_label }}">Contraseña nueva:</label><br>
      {{ form.new_password1 }}
      {% if form.new_password1.help_text %}
        <br><small>{{ form.new_password1.help_text|safe }}</small>
      {% endif %}
      {% if form.new_password1.errors %}
        <br><small style="color:crimson">
          {% for e in form.new_password1.errors %}{{ e }}{% if not forloop.last %}<br>{% endif %}{% endfor %}
        </small>
      {% endif %}
    </p>

    <p>
      <label for="{{ form.new_password2.id_for_label }}">Confirmar contraseña nueva:</label><br>
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        <br><small style="color:crimson">
          {% for e in form.new_password2.errors %}{{ e }}{% if not forloop.last %}<br>{% endif %}{% endfor %}
        </small>
      {% endif %}
    </p>

    <button type="submit">Cambiar mi contraseña</button>
  </form>
  <form action="{% url 'accounts:logout' %}" method="post" style="margin-top:12px">
  {% csrf_token %}
  <button type="submit">Salir y volver al inicio de sesión</button>
</form>
</body>
</html>
